body {
    background: #f5f5dc
}
table, td, tr, caption {
    border-collapse: collapse;
}

table {
  width: 100%;
}

td, tr {
    text-align:center;
    font-size: 22px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

caption {
    font-size: 42px;
}

tr:hover {background-color: #a98b73;}
p{
    text-align: center;
    font-size: 5vw;
}
h3{
    font-size: 2vw;
}
input{
    font-size: 2vw;
}
button{
    font-size: 2vw;
}